*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    
}
.hero,.navbar{
    background-color: #1F2937;

}
.navbar{

    color: #FFFFFF;
    
    display:flex;
    flex-direction: row;
    justify-content: space-around; /* for main axis */
    align-items: center; /* for cross axis */
    
    
}
.logo{
    font-size: 24px;


}
.links{
    display:flex;
    font-size: 18px;
        
}
.link{
    padding: 20px;
}


/* hero page */
.hero{
    display: flex;
    width: 100%;
    flex-direction: row;
    /* justify-content: space-around;
    padding: 50px */
    justify-content: center;
    padding-bottom: 100px;

    
    


}
.HeroContainer{
    display: flex;
    width:65%;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    


}


.HeroLeft{
    flex-basis: 50%;
   
   
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.HeroText{
    font-size: 48px;
    font-weight: 800; /* extra bold is 800 weight */
    color: #F9FAF8;
    width: 400px;
    text-align: left;

    
}
.SubText{
    font-size: 18px;
    color: #e5e7eb;
    width: 370px;
    text-align: left;

}
button{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    background-color: #3882F6 ;
    color: #e5e7eb;
    border-radius: 8px;
    border: 0;
    padding:8px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.HeroRight{
    display: flex;
    flex-direction: row;  
    
    flex-basis: 50%;
    max-height: 500px;
    
    

}
#HeroImage{

    width: 500px;
}




/*Random info  */
.RandomInfo{
    display: flex;
    flex-direction: column;

}
.RandomHeading{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: 20px;

}

.BoxGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.BoxContainer{
    margin:20px
}
.Box{
    
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 10px;
    
}
.BoxText{
    font-size: 18px;
    color: #666c76;
    max-width: 150px;
    text-align: center;
    
}
.Info{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 350px;
    justify-content: center;
    background-color: #E5E7EB;
}
.InfoText{
    width: 50%;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}
.InfoAuthorContainer{
    width: 50%;
    padding-top: 10px;
    

}
.InfoAuthor{
    font-size: larger;
    text-align: right;
    font-weight: 700;

}



/*SignIn container */
.SignIn{
    width: 100%;
    display: flex;
    justify-content: center; /* for main axis */
    align-items: center; /* for cross axis */
    height: 300px;

}
.SignContainer{
    background-color: #3882F6;
    width: 60%;
    border-radius: 8px;
    display:flex;
    padding:50px
}
.SignText{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-size: 24px;
    

}
.SignHeading{
    font-weight: 600;

}
.SignSubText{
    font-size: 18px;
}
.SignButton{
    flex-basis: 20%;
    display: flex;
    padding-left: 10px;
    
    
}
.button2{
    width: 90%;
    font-weight: 600;
    border: solid 2px white;
    color: #E5E7EB;
    
}

/* Footer */
.Footer{
    display:flex;
    justify-content: center; /* for main axis */
    align-items: center; /* for cross axis */
    background-color: #1F2937 ;
    height: 80px;
    width: 100%;

}
.FooterText{
    color: #E5E7EB;
    font-size: 18px;
}